$orange: #FD5A1E;
$cream: #FFFDD0;
$black: #000000;

$primary: $orange;
$secondary: $black;
$tertiary: $cream;

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

main {
	padding-top: 75px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}